{
  "@class" : "org.apereo.cas.services.RegexRegisteredService",
  "serviceId" : "{{ item.serviceId }}",
  "name" : "{{ item.name }}",
  "id" : {{ item.id }},
  "description" : "{{ item.description }}",
  "proxyPolicy" : {
    "@class" : "org.apereo.cas.services.RefuseRegisteredServiceProxyPolicy"
  },
  "evaluationOrder" : {{ item.evaluationOrder }},
  "usernameAttributeProvider" : {
    "@class" : "org.apereo.cas.services.DefaultRegisteredServiceUsernameProvider"
  },
  "logoutType" : "{{ item.logoutType }}",
  "logoutUrl" : "{{ item.logoutUrl }}",
  "attributeReleasePolicy" : {
    "@class" : "org.apereo.cas.services.ReturnAllAttributeReleasePolicy",
    "authorizedToReleaseCredentialPassword" : false,
    "authorizedToReleaseProxyGrantingTicket" : false
  },
  "accessStrategy" : {
    "@class" : "org.apereo.cas.services.DefaultRegisteredServiceAccessStrategy",
    "enabled" : true,
    "ssoEnabled" : true
  }
}
